---

---

<section
  id="dinamica"
  class="h-[100vh] bg-zinc-700 md:my-0 py-16 px-11 text-white text-xl relative z-2"
>
  <div class="max-w-[1024px] mx-auto flex flex-col gap-2">
    <h3 class="font-bold text-4xl mb-2">Ley de la dinamica</h3>
    <p class="text-gray-400">
      ¿Cual es la acelaracion que experimenta una mesa de <span
        ><input
          autocomplete="off"
          id="input-masa"
          class="text-white w-14 px-2 py-1 bg-transparent border-b-2 p-0 m-0"
          type="text"
        /></span
      >
      KG de masa, Cuando se le aplican <span
        ><input
          autocomplete="off"
          id="input-fuerza"
          class="text-white w-14 px-2 py-1 bg-transparent border-b-2 p-0"
          type="text"
        /></span
      > N de fuerza.
    </p>
  </div>
  <div class="m-auto max-w-[1024px] flex flex-col gap-2 text-lg my-2">
    <h4>Datos</h4>
    <ul class="text-gray-400">
      <li class="dfuerza">F =</li>
      <li class="dmasa">M =</li>
      <li class="daceleracion">A = ?</li>
    </ul>
    <h4>Formula</h4>
    <p class="text-gray-400">A = F / M</p>
    <p class="formula-datos2 text-gray-400"></p>
    <h4>Resultado</h4>
    <p class="resultado text-gray-400"></p>
  </div>
  <div class="max-w-[1024px] mx-auto m">
    <button class="btn btn-soft btn-success calcular-aceleracion"
      >Calcular</button
    >
  </div>
</section>
<script>
  // Lista de datos elementss
  const dato_fuerza = document.querySelector(".dfuerza");
  const dato_masa = document.querySelector(".dmasa");
  const dato_aceleracion = document.querySelector(".daceleracion");
  // inputs
  const input_fuerza = document.getElementById("input-fuerza");
  const input_masa = document.getElementById("input-masa");
  // funcion calcular
  function calcular_acleleracion() {
    let fuerza = input_fuerza.value;
    let masa = input_masa.value;
    // añadir datos a la lista

    dato_fuerza.innerHTML = `F = ${fuerza} N`;
    dato_masa.innerHTML = `M = ${masa} KG`;
    dato_aceleracion.innerHTML = `A = ?`;

    // Formula con los datos
    const formula_datos = document.querySelector(".formula-datos2");
    formula_datos.innerHTML = `T = ${fuerza} N / ${masa} KG`;

    // mostrar resultado
    let resultado_calculo = fuerza / masa;
    const resultado = document.querySelector(".resultado");
    resultado.innerHTML = `A = ${resultado_calculo} M/s 2`;
  }

  // Evento en el boton calcular
  const btnCalcular = document
    .querySelector(".calcular-aceleracion")
    .addEventListener("click", () => {
      calcular_acleleracion();
    });
</script>
